/****** PLACE YOUR CUSTOM STYLES HERE ******/
/*
.bg-primary {
  background: #ffffff !important;
}*/

./*overlay:before {
  background: #ffffff;
}*/

/*.image-bg h1,
.image-bg h2,
.image-bg h3,
.image-bg h4,
.image-bg h5,
.image-bg h6 {
  color:#363636;
}*/